# Ignore Visual Studio Code specific files
.vscode/
*.code-workspace

# Ignore macOS system files
.DS_Store

# Ignore build output by maven
/target/

# Ignore generated content in WEB-INF folder
/iotbay/src/main/webapp/WEB-INF/classes/
/iotbay/src/main/webapp/WEB-INF/lib/
/iotbay/src/main/webapp/WEB-INF/test-classes/