# Ignore Visual Studio Code specific files
.vscode/
*.code-workspace

# Ignore macOS system files
.DS_Store

# Ignore build output by maven
/target/

# Ignore entire WEB-INF folder since it only contains generated content
/iotbay/src/main/webapp/WEB-INF/
# But do not ignore web.xml
!/iotbay/src/main/webapp/WEB-INF/web.xml