html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevents page scrolling */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--content-bg-primary);
    color: var(--content-text-primary);
    max-height: calc(100vh - 60px); /* Ensures it doesn't exceed viewport height minus header height*/
}