/* Import base styles first */
@import '../base/variables.css';
@import '../base/reset.css';

/* Import component styles */
@import '../components/header.css';
@import '../components/forms.css';
@import "../layout/container.css";

.centered-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--content-bg-primary);
    border-radius: 12px;
    box-shadow: 0 4px 10px var(--shadow-color);
    text-align: center;
}

.user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-card button.delete-button {
    background-color: var(--error);
}

.user-card button.reset-button {
    background-color: #ff9800;
}

.user-card button.delete-button:hover {
    background-color: #8d1e29;
}

.user-card button.reset-button:hover {
    background-color: #986519;
}

.user-card form {
    flex: 14;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.user-card form.address-form {
    flex: 1;
    padding: 5px;
}

.user-card form.reset-form {
    flex: 1;
    padding: 5px;
}

.user-card form.delete-form {
    flex: 1;
    padding: 5px;
}